[user]
	name = Yarden Zamir
	email = dev@yarden-zamir.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/global.gitignore
	fsmonitor = true
	untrackedCache = true
	preloadIndex = true
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	trustExitCode = true
[pack]
	threads = 0
[feature]
	manyFiles = true
[fetch]
	writeCommitGraph = true
[gc]
	writeCommitGraph = true
[index]
	version = 4
[maintenance]
	repo = /Users/kcw/GitHub/AccurateBlockPlacement-Reborn
	repo = /Users/kcw/GitHub/act-zsh-completion
	repo = /Users/kcw/GitHub/adi-develop
	repo = /Users/kcw/GitHub/ae2-personal-me-system
	repo = /Users/kcw/GitHub/aerials-downloader
	repo = /Users/kcw/GitHub/ai-ready
	repo = /Users/kcw/GitHub/ai-ready copy
	repo = /Users/kcw/GitHub/ai-ready-download
	repo = /Users/kcw/GitHub/ai-wrapper
	repo = /Users/kcw/GitHub/api-compliance
	repo = /Users/kcw/GitHub/api-guidelines-lint
	repo = /Users/kcw/GitHub/app-analysis-agent
	repo = /Users/kcw/GitHub/Applied-Energistics-2
	repo = /Users/kcw/GitHub/arc-raiders-heal-shield-calculator
	repo = /Users/kcw/GitHub/assistants
	repo = /Users/kcw/GitHub/assistants_api
	repo = /Users/kcw/GitHub/ATM-8
	repo = /Users/kcw/GitHub/atuin
	repo = /Users/kcw/GitHub/audit
	repo = /Users/kcw/GitHub/autocomplete
	repo = /Users/kcw/GitHub/automations-connectors
	repo = /Users/kcw/GitHub/automations-core
	repo = /Users/kcw/GitHub/awsworkshop
	repo = /Users/kcw/GitHub/cli-utils
	repo = /Users/kcw/GitHub/climbing
	repo = /Users/kcw/GitHub/climbing-tom
	repo = /Users/kcw/GitHub/cloudpathlib
	repo = /Users/kcw/GitHub/collections
	repo = /Users/kcw/GitHub/ColumnQuickSwap
	repo = /Users/kcw/GitHub/compose
	repo = /Users/kcw/GitHub/crafting_on_a_stick
	repo = /Users/kcw/GitHub/Create
	repo = /Users/kcw/GitHub/Create-Diesel-Generators
	repo = /Users/kcw/GitHub/Create-Prepare-to-Dye-2-tmp
	repo = /Users/kcw/GitHub/data-app-design
	repo = /Users/kcw/GitHub/data-app-design-gdr
	repo = /Users/kcw/GitHub/data-app-design-systest
	repo = /Users/kcw/GitHub/data-app-design-temp
	repo = /Users/kcw/GitHub/data-connections
	repo = /Users/kcw/GitHub/data-plane-db-commands
	repo = /Users/kcw/GitHub/data-plane-manager
	repo = /Users/kcw/GitHub/data-product
	repo = /Users/kcw/GitHub/data-product-agent
	repo = /Users/kcw/GitHub/dcaas
	repo = /Users/kcw/GitHub/delete-workflow-runs
	repo = /Users/kcw/GitHub/DI-toolset
	repo = /Users/kcw/GitHub/DIS-preformance-testing
	repo = /Users/kcw/GitHub/discord_bot
	repo = /Users/kcw/GitHub/dns-proxy-server
	repo = /Users/kcw/GitHub/dotfiles
	repo = /Users/kcw/GitHub/dotnet-sdk
	repo = /Users/kcw/GitHub/dotnet-service-kit
	repo = /Users/kcw/GitHub/driver-setup
	repo = /Users/kcw/GitHub/driver-setup-qlik
	repo = /Users/kcw/GitHub/eldritch-gpt
	repo = /Users/kcw/GitHub/emi
	repo = /Users/kcw/GitHub/evalcache
	repo = /Users/kcw/GitHub/example-site-for-reverse-proxy
	repo = /Users/kcw/GitHub/excalidraw
	repo = /Users/kcw/GitHub/FancyMenu
	repo = /Users/kcw/GitHub/feature-flags-management-system
	repo = /Users/kcw/GitHub/fogged-town-cale
	repo = /Users/kcw/GitHub/forgeconfigscreens
	repo = /Users/kcw/GitHub/fzf
	repo = /Users/kcw/GitHub/fzf-git.sh
	repo = /Users/kcw/GitHub/fzf-tab
	repo = /Users/kcw/GitHub/fzf-tab-completion
	repo = /Users/kcw/GitHub/fzf-tab-source
	repo = /Users/kcw/GitHub/gateway-versions
	repo = /Users/kcw/GitHub/GemperC
	repo = /Users/kcw/GitHub/Gettings-Started-SUP1195-Compose-and-DI-Applications-Unofficial
	repo = /Users/kcw/GitHub/gh-download
	repo = /Users/kcw/GitHub/gh-run
	repo = /Users/kcw/GitHub/gh-source
	repo = /Users/kcw/GitHub/gh-source-old
	repo = /Users/kcw/GitHub/git-fuzzer
	repo = /Users/kcw/GitHub/git-fuzzy
	repo = /Users/kcw/GitHub/github-app-js-sample
	repo = /Users/kcw/GitHub/github-runner-generator
	repo = /Users/kcw/GitHub/githubDiscord-bridge.Kt
	repo = /Users/kcw/GitHub/go-service-kit
	repo = /Users/kcw/GitHub/gptweet
	repo = /Users/kcw/GitHub/grpc-gateway-testing
	repo = /Users/kcw/GitHub/hackersum
	repo = /Users/kcw/GitHub/haystack
	repo = /Users/kcw/GitHub/haystack-impl
	repo = /Users/kcw/GitHub/hdd-replication-agent
	repo = /Users/kcw/GitHub/hdd-replication-agent-artifacts
	repo = /Users/kcw/GitHub/hdd-replication-agent-docker-original
	repo = /Users/kcw/GitHub/help-repo-experiment
	repo = /Users/kcw/GitHub/help-repo-experiment--clone
	repo = /Users/kcw/GitHub/Heracles
	repo = /Users/kcw/GitHub/histeria
	repo = /Users/kcw/GitHub/homebrew-tap
	repo = /Users/kcw/GitHub/homebrew-tap-qlik
	repo = /Users/kcw/GitHub/homebrew-wrap
	repo = /Users/kcw/GitHub/install-mssql-odbc
	repo = /Users/kcw/GitHub/ItemConverter
	repo = /Users/kcw/GitHub/ject
	repo = /Users/kcw/GitHub/kotlin-no-strings-attached
	repo = /Users/kcw/GitHub/KubeJS
	repo = /Users/kcw/GitHub/langchain-qlik
	repo = /Users/kcw/GitHub/launch-and-follow-workflow
	repo = /Users/kcw/GitHub/license-portal
	repo = /Users/kcw/GitHub/life
	repo = /Users/kcw/GitHub/magic-enter
	repo = /Users/kcw/GitHub/MagicCube
	repo = /Users/kcw/GitHub/mcmeta
	repo = /Users/kcw/GitHub/me
	repo = /Users/kcw/GitHub/me-but-bigger
	repo = /Users/kcw/GitHub/me.v2
	repo = /Users/kcw/GitHub/measurement-api
	repo = /Users/kcw/GitHub/Media-server
	repo = /Users/kcw/GitHub/messaging-configurator
	repo = /Users/kcw/GitHub/mod-release-workflow
	repo = /Users/kcw/GitHub/ms-todo-api-experiments
	repo = /Users/kcw/GitHub/Musketeer
	repo = /Users/kcw/GitHub/navgator
	repo = /Users/kcw/GitHub/obsidian-raycast
	repo = /Users/kcw/GitHub/obsidian-zola-plus
	repo = /Users/kcw/GitHub/octokit.net-commit-multiple-files
	repo = /Users/kcw/GitHub/openapi-python-client
	repo = /Users/kcw/GitHub/pathlib
	repo = /Users/kcw/GitHub/Personal-setups-tools-and-scripts
	repo = /Users/kcw/GitHub/playingWithDADsdk.py
	repo = /Users/kcw/GitHub/policy-administrations
	repo = /Users/kcw/GitHub/potato
	repo = /Users/kcw/GitHub/potato15
	repo = /Users/kcw/GitHub/precog-agent-service
	repo = /Users/kcw/GitHub/precog-local-agent
	repo = /Users/kcw/GitHub/protobuf-inheritance
	repo = /Users/kcw/GitHub/ptdye-plus
	repo = /Users/kcw/GitHub/qac
	repo = /Users/kcw/GitHub/qcdi-agent
	repo = /Users/kcw/GitHub/qcdi-agent-in-ai-ready
	repo = /Users/kcw/GitHub/qcdi-solace-experiments
	repo = /Users/kcw/GitHub/qcdi-yaml-schema
	repo = /Users/kcw/GitHub/qcs-data-gateway
	repo = /Users/kcw/GitHub/qcs-environments
	repo = /Users/kcw/GitHub/qcs-ui-common
	repo = /Users/kcw/GitHub/qdi-automation
	repo = /Users/kcw/GitHub/qdi-data-app-ui
	repo = /Users/kcw/GitHub/qdi-db-commands
	repo = /Users/kcw/GitHub/qdi-dw-storage
	repo = /Users/kcw/GitHub/qdi-hub
	repo = /Users/kcw/GitHub/qdi-internal-drivers
	repo = /Users/kcw/GitHub/qdi-java-sdk
	repo = /Users/kcw/GitHub/qdi-licensing
	repo = /Users/kcw/GitHub/qdi-lnternal-drivers-bin
	repo = /Users/kcw/GitHub/qdi-qem-manager
	repo = /Users/kcw/GitHub/qdi-replicate-module
	repo = /Users/kcw/GitHub/qdi-service-sdk
	repo = /Users/kcw/GitHub/qdi-ui-common
	repo = /Users/kcw/GitHub/qlik-api-client-python
	repo = /Users/kcw/GitHub/qlik-mcp
	repo = /Users/kcw/GitHub/qlik-qdi-sdk-python
	repo = /Users/kcw/GitHub/qlik-qdi-sdk-python-2
	repo = /Users/kcw/GitHub/qlik-releaser
	repo = /Users/kcw/GitHub/qmfe-api
	repo = /Users/kcw/GitHub/qmfe-workflows
	repo = /Users/kcw/GitHub/redirect.dye
	repo = /Users/kcw/GitHub/redis-pkm
	repo = /Users/kcw/GitHub/release-experiments
	repo = /Users/kcw/GitHub/replicate-agent-service
	repo = /Users/kcw/GitHub/reporting-dotnet-service-utils
	repo = /Users/kcw/GitHub/reporting-templates
	repo = /Users/kcw/GitHub/reporting-templates-api-tests
	repo = /Users/kcw/GitHub/research-iceberg
	repo = /Users/kcw/GitHub/rubin
	repo = /Users/kcw/GitHub/runner
	repo = /Users/kcw/GitHub/rusty-umbrella
	repo = /Users/kcw/GitHub/sample-agent
	repo = /Users/kcw/GitHub/sde-infra
	repo = /Users/kcw/GitHub/Server-Scripts
	repo = /Users/kcw/GitHub/service_to_gatway_injector
	repo = /Users/kcw/GitHub/services-chrome-extension
	repo = /Users/kcw/GitHub/shell-completions
	repo = /Users/kcw/GitHub/sim-chat
	repo = /Users/kcw/GitHub/Snowflake-password-helper.
	repo = /Users/kcw/GitHub/spectacular.ts
	repo = /Users/kcw/GitHub/Supplementaries.wiki
	repo = /Users/kcw/GitHub/TooltipsReforged
	repo = /Users/kcw/GitHub/TooltipsReforgedDyed
	repo = /Users/kcw/GitHub/transform-flows
	repo = /Users/kcw/GitHub/universal-assistant
	repo = /Users/kcw/GitHub/universal-assistant-ui
	repo = /Users/kcw/GitHub/unused-textures
	repo = /Users/kcw/GitHub/usage
	repo = /Users/kcw/GitHub/victor-hugo
	repo = /Users/kcw/GitHub/VPS
	repo = /Users/kcw/GitHub/vps-manager
	repo = /Users/kcw/GitHub/vscode-infinite-workspace
	repo = /Users/kcw/GitHub/waffle
	repo = /Users/kcw/GitHub/Wares
	repo = /Users/kcw/GitHub/webhooks
	repo = /Users/kcw/GitHub/workspace
	repo = /Users/kcw/GitHub/wrap
	repo = /Users/kcw/GitHub/Yarden-zamir
	repo = /Users/kcw/GitHub/YarpTunnelDemo
	repo = /Users/kcw/GitHub/zig
	repo = /Users/kcw/GitHub/zsh-act-completion
	repo = /Users/kcw/GitHub/zsh-autocomplete
	repo = /Users/kcw/GitHub/zsh-autopair
	repo = /Users/kcw/GitHub/zsh-autosuggestions
	repo = /Users/kcw/GitHub/zsh-edit
	repo = /Users/kcw/GitHub/zsh-history-substring-search
	repo = /Users/kcw/GitHub/zsh-syntax-highlighting
