.config/codex/.codex-global-state.json
/.config/codex/archived_sessions
.config/codex/auth.json
.config/codex/history.jsonl
.config/codex/log/codex-tui.log
.config/codex/models_cache.json
/.config/codex/sessions
.config/codex/sqlite/codex-dev.db
/.config/codex/tmp
/.config/codex/skills
/.claude/cache
/.claude/backups
/.claude/debug
/.claude/file-history
/.claude/ide
/.claude/plans
.claude/plugins/blocklist.json
/.claude/plugins/cache
/.claude/plugins/marketplaces/claude-plugins-official
/.claude/projects
/.claude/todos
/.config/codex/shell_snapshots
.claude/.credentials.json
.claude/history.jsonl
/.claude/plugins
/.claude/shell-snapshots
.config/codex/version.json
.claude/mcp-needs-auth-cache.json
.claude/policy-limits.json
/.claude/sessions
.claude/settings.json
.claude/telemetry/1p_failed_events.30849f6e-2c02-4a0e-a310-aa5d817afb49.0ff09298-860f-4a52-ba42-d9cc224ef93b.json
