[user]
	name = Yarden Zamir
	email = dev@yarden-zamir.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/kcw/Github/dotfiles/global.gitignore
	fsmonitor = true
	untrackedcache = true
	preloadindex = true
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	trustExitCode = true
[pack]
	threads = 0
[feature]
	manyFiles = true
